@{
    ViewData["Title"] = "..::Cadastro Cliente::..";
}

@* Codigo formulario cadastro cliente *@
<div class="container">
    @* LINHA TITULO *@
    <div class="row">
        <div class="col text-center">
            <h1>Cadastro Cliente</h1>
        </div>
    </div>
    @* LINHA NOME, CPF,RF E DN *@
    <div class="row">
        <div class="col">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                NomeCompleto
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-3">
            <label for="" class="col-form-label fw-bold">
                CPF
            </label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="col-lg-2">
            <label for="" class="col-form-label fw-bold">
                Email
            </label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="col-lg-2">
            <label for="" class="col-form-label fw-bold text-nowrap">
                TelefoneCelular
            </label>
            <input type="text" class="form-control" id="">
        </div>
    </div>
  
    <div class="row">
        <div class="col-lg-2">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Endereco
            </label>
            <input type="text" class="form-control" id="" />
        </div>
      
    <div class="row mt-3 justify-content-md-end">
        <div class="col-3 d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-info btn-lg" name="name" value="Cadastrar" />
        </div>
    </div>
</div>