@{
    ViewData["Title"] = "..::Cadastro Produto::..";
}

@* Codigo formulario cadastro cliente *@
<div class="container">
    @* LINHA TITULO *@
    <div class="row">
        <div class="col text-center">
            <h1>Cadastro Produto</h1>
        </div>
    </div>
    @* LINHA NOME, CPF,RF E DN *@
    <div class="row">
        <div class="col">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Nome
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-3">
            <label for="" class="col-form-label fw-bold">
                Fabricante
            </label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="col-lg-2">
            <label for="" class="col-form-label fw-bold">
                Código
            </label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="col-lg-2">
            <label for="" class="col-form-label fw-bold text-nowrap">
               Quantidade
            </label>
            <input type="text" class="form-control" id="">
        </div>
    </div>
    @* LINHA ENDEREÇO *@
    <div class="row">
        <div class="col-lg-2">
            <label for="" class="col-sm col-form-label fw-bold">
                Valor de Compra
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-2">
            <label for="" class="col-sm col-form-label fw-bold">
                Valor de Venda
            </label>
            <input type="text" class="form-control" id="" />
        </div>

    <div class="row">
        <div class="col">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Descrição
            </label>
            <input type="text" class="form-control" id="" />
        </div>
    </div>
    <div class="row mt-3 justify-content-md-end">
        <div class="col-3 d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-info btn-lg" name="name" value="Cadastrar" />
        </div>
    </div>
</div>